<!DOCTYPE html>
<html>
<head>
    <title></title>

    <link rel="stylesheet" href="/static/prod/main.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="/static/virmir/js/react.min.js"></script>
    <script src="/static/virmir/js/JSXTransformer.js"></script>
    <script src="/static/virmir/react/controller.jsx" type="text/jsx"></script>
    <script src="/static/virmir/react/left.jsx" type="text/jsx"></script>
</head>
<body>

<div id="vir-mir"></div>
<script type="text/jsx">
    /** @jsx React.DOM */
    React.renderComponent(
      <vir_mir />,
      document.getElementById('vir-mir')
    );
</script>


</body>
</html>